<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.your.packages.flow.mapper.UserPasswordMapper">

	<resultMap id="userPasswordMap" type="com.your.packages.flow.model.entity.UserPassword">
  		<id property="id" column="id"/>
    		<result property="gmtCreate" column="gmt_create"/>
    		<result property="gmtModified" column="gmt_modified"/>
    		<result property="userId" column="user_id"/>
    		<result property="name" column="name"/>
    		<result property="password" column="password"/>
      </resultMap>

	<sql id="Base_Column_List">
		id,        
		gmt_create,        
		gmt_modified,        
		user_id,        
		name,        
		password        
	</sql>

	<sql id="Base_Alias_Column_List">
		up.id,        
		up.gmt_create,        
		up.gmt_modified,        
		up.user_id,        
		up.name,        
		up.password        
	</sql>
</mapper>